body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  background: url('./assets/background.webp') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;

}

.App {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  min-height: 100vh;
}

.content {
  padding: 20px;
  
}

.page-content {
  max-width: 800px;
  margin:  auto;
  text-align: left;
  padding-top: 2em;

}

.page-content p {
  line-height: 1.25em;
}

h2, h4 {
  color: #7289da;
  text-align: center;
}

.special {
  font-size: larger;
  font-weight: bolder;
}

.keen-on-home {
  width: 50%;
  float: left;

}

.course-home {
  width: 50%;
  float: left;
}

.title-home {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: 0;
}


.title-edu, .title-exp, .title-cert {
  font-size: 1.3em;
  font-weight: bolder;
  margin-bottom: -0.5em;
}




.spec-edu {
  font-size: 1em;
  margin-bottom: -0.5em;
}




.uni-name-edu, .workplace-name-exp, .org-cert {
  font-size: 1.2em;
  margin-bottom: -0.5em;
}




.date-edu, .date-edu {
  font-size: 1em;
}


.degree-edu, .position-exp, .position-cert {
  border-left: solid;
  padding-left: 1em;
}


.degree-edu, .position-exp {
  margin-bottom: 3em;
}

.position-cert {
  width: 45%;
  display: inline-block;
  margin-top: 2em;
}



.title-cert {
  margin-top: 0;
}


.cur-cert {
  display: block;
  float: right;
}

